@using System.Web.Razor.Generator
@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>
<ul>
    <li><h3>Membership Type:@Model.MembershipType.Name</h3></li>
    @if (Model.Birthdate.HasValue)
    {
        <li><h3>Birthday: @Model.Birthdate.Value.ToShortDateString()</h3></li>
    }
</ul>
